.newsItems {
  padding: 0;
  margin: 30px 0px 16px 20px;
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
}

.item {
  margin: 0 20px 10px 0;
  padding-bottom: 5px;
  list-style: none;
  font-weight: bold;
  color: #C4C4C4;
}

.item span {
padding-bottom: 3px;
}

.active {
  border-bottom: 3px solid #C92107;
  border-radius: 3px;
}
